# Required python libraries
pyasn1==0.4.2
ecdsa==0.13.3
pexpect==4.8.0
pycryptodome==3.11.0        # used by mcuboot
pyserial==3.4
ed25519==1.4
cbor==1.0.0
cbor2>=5.0.0
colorama>=0.4.0
cryptography==3.3.2
scapy>=2.4.3
protobuf==3.18.3
scipy == 1.10.1            # needed by scikit-learn, but newer ones fail with jammy's cython
scikit-learn==0.22.1
joblib==1.2.0
emlearn==0.10.1
jinja2==2.11.3
riotctrl[rapidjson]>=0.4.0
pyhsslms>=1.0.0
