Source: c2rust
Section: devel
Priority: extra
Maintainer: Christian Amsüss <chrysn@fsfe.org>
Build-Depends: debhelper (>= 7)

Package: c2rust
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: c2rust transpiler
 A tool to translate C modules into semantically equivalent Rust code.
 .
 This package is built as part of RIOT's docker image creation.
